body {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25em;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.flex-child {
}

.flex-child:first-child {
  width: 160px;
  flex-shrink: 0;
}

.flex-child:last-child {
  flex: 1;
  max-width: 480px;
}

.urdu {
  font-family: 'Noto Nastaliq Urdu';
  color: red;
  text-shadow: black 0 -1px;
  font-size: 48px;
  text-align: right;
  margin: 0;
  margin-top: -20px;
}

.paragraph {
  max-width: 600px;
  margin-top: 0;
}